<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.leak.mapper.ExamMapper">

    <resultMap type="com.ruoyi.leak.domain.Exam" id="ExamResult">
        <result property="examId" column="exam_id"/>
        <result property="examName" column="exam_name"/>
        <result property="type" column="type"/>
        <result property="route" column="route"/>
        <result property="sort" column="sort"/>
        <result property="remark" column="remark"/>
        <result property="deleted" column="deleted"/>
    </resultMap>


</mapper>